<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#4be3ac" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />

    <link
      rel="shortcut icon"
      href="./icons/puzzle-512.png"
      type="image/x-icon"
    />
    <link rel="apple-touch-icon" href="./icons/puzzle-512.png" />
    <link rel="manifest" href="./app.webmanifest" />

    <title>NUM Game</title>
  </head>
  <body>
    <main id="mainContent"></main>

    <footer-bar></footer-bar>
  </body>
</html>
