<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>template</title>
  </head>
  <body>
    <div class="local-stats" id="total-stats">
      <h2>Local Stats</h2>
      <hr />
      <div id="all-local-stats">
        <div class="local-stat-item">
          <h3>Jumlah permainan yang berhasil dimenangkan:</h3>
          <h3 id="local-total-victory-field"></h3>
        </div>
        <div class="local-stat-item">
          <h3>Jumlah tebakan salah terbanyak sekali main:</h3>
          <h3 id="local-maximum-attempt-field"></h3>
        </div>
        <button class="button" id="destroy-data-button">
          Hapus semua data
        </button>
      </div>
    </div>

    <div class="session-stats" id="session-stats">
      <h2>Game Session Stat</h2>
      <hr />
      <div id="all-session-stats">
        <div class="session-stat-item">
          <h3>Jumlah Tebakan Salah:</h3>
          <h3 id="session-user-attempts-amount-field"></h3>
        </div>
      </div>
    </div>
  </body>
</html>
