* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* color variable */
:root {
  --primary: #4be3ac;
  --secondary: #94fc13;
  --dark: #032d3c;
  --light: #f7ff56;
}

/* template css */
.text-center {
  text-align: center;
}
.row {
  display: flex;
}
.btn-link {
  text-decoration: none;
}
.btn {
  padding: 13px 17px;
  border: 1px solid #000;
  border-radius: 10px;
}
.btn:hover {
  cursor: pointer;
}
.container {
  min-height: 100vh;
  background-color: var(--dark);
}

/* app css */
.wrap-header {
  border-bottom: 1px solid var(--light);
  background-color: var(--dark);
  color: var(--light);
  padding: 15px;
}
.btn-back {
  color: var(--light);
  border: 1px solid var(--light);
}
.btn-back:hover {
  color: var(--primary);
  border: 1px solid var(--primary);
}
.head-game {
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}
.ongame {
  justify-content: space-between;
}
.wrap-game-section {
  justify-content: center;
  gap: 7%;
  flex-wrap: wrap;
  padding: 30px 0;
}

/* home css */
.home {
  background-image: url('../public/images/bg-pattern.png');
}
.wrap-menu {
  min-height: 500px;
  padding: 50px 30px;
  justify-content: center;
}
.list-menu {
  padding: 20px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border: 5px solid var(--dark);
  border-radius: 10px;
  background-color: rgba(3, 45, 60, 0.8);
}
.item-menu {
  margin: 10px;
  width: 100%;
  justify-content: center;
}
.btn-menu {
  color: var(--light);
  background-color: var(--dark);
  border-left: 1px solid var(--light);
  border-right: 1px solid var(--light);
  width: 100%;
}
.btn-menu:hover {
  border-top: 1px solid var(--light);
  border-bottom: 1px solid var(--light);
  transition: ease-in-out 0.3s;
  color: var(--primary);
}

/* play css */
.btn-clear-data {
  background-color: orange;
}
hr {
  border: 1px solid var(--primary);
  margin: 10px 0;
}
.wrap-game-board,
.local-stats,
.session-stats {
  border: 1px solid var(--primary);
  padding: 15px 30px;
  border-radius: 15px;
  margin: 10px 0;
  color: var(--primary);
}
.answer-button {
  padding: 20px;
  margin: 20px 5px;
  border-radius: 10px;
  background-color: var(--secondary);
  color: var(--dark);
  font-weight: bold;
}
.text-game {
  padding: 20px 50px;
}
.text-answer-game {
  color: var(--secondary);
}
.wrong-answer {
  color: var(--light);
}
.local-stat-item {
  padding: 10px;
  margin: 10px 0;
}
.text-victory,
.text-attempt {
  color: var(--secondary);
}
.session-stat-item {
  padding: 10px;
}
.text-amount {
  color: var(--secondary);
}

/* rules css */
.list-rules {
  justify-content: center;
}

/* footer css */
.wrap-footer {
  background-color: var(--dark);
  padding: 20px;
  justify-content: center;
}
.footer-item {
  color: var(--light);
}
.footer-link {
  text-decoration: none;
  color: var(--primary);
}

@media screen and (max-width: 530px) {
  .head-game {
    padding: 5px;
  }
  h1 {
    font-size: 1.4rem;
  }
  .btn-back {
    font-size: 0.8rem;
  }
  .wrap-game-content {
    padding: 0 10px;
  }

  .text-game {
    padding: 20px 30px;
  }
}
